.comic-header {
  position: relative;
  width: 100%;
  height: 30vh;
  overflow: hidden;
}

.comic-header-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.comic-body {
  display: flex;
  flex: 1;
  padding: 20px;
  gap: 20px;
}

.comic-navigation {
  flex: 2;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  padding: 10px;
}

.comic-navigation button {
  padding: 5px 10px;
  background-color: transparent;
  color: #000000;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.comic-navigation button:hover {
  background-color: #000000;
  color: white;
}

.comic-info h1 {
  margin-bottom: 10px;
  font-size: 20px;
  color: #000000;
}

.comic-info p {
  margin-top: 0;
  font-size: 16px;
  color: #000000;
  line-height: 1.6;
}