@import './colors.css';

.comics-page {
  padding: 80px 20px 60px; /* Учитываем высоту шапки и футера */
  min-height: calc(100vh - 140px); /* Высота экрана минус шапка и футер */
  background-color: var(--color-background);
}

.comics-title {
  text-align: center;
  margin-bottom: 30px;
  color: var(--color-text);
}

.comics-grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr); /* 6 карточек в ряд */
  gap: 10px; /* Уменьшаем расстояние между карточками */
  max-width: 1200px;
  margin: 0 auto;
}

.comic-card {
  position: relative;
  background: var(--color-text-light);
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
  text-align: center;
  padding-bottom: 5px; /* Уменьшаем внутренние отступы */
  height: 160px; /* Уменьшаем высоту карточки */
}

.comic-card:hover {
  transform: translateY(-5px);
}

.comic-thumbnail {
  width: 100%;
  height: 90px; /* Уменьшаем высоту изображения */
  object-fit: cover;
  margin-bottom: 5px;
}

.add-to-favorites {
  position: absolute;
  bottom: 10px;
  left: 10px;
  width: 20px; /* Уменьшаем размер кнопки */
  height: 20px;
  background: url('../assets/heart-white.svg') no-repeat center center;
  background-size: contain;
  border: none;
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.comic-card:hover .add-to-favorites {
  opacity: 1;
}

.add-to-favorites.active {
  background: url('../assets/heart-red.svg') no-repeat center center;
  background-size: contain;
}

.comic-card h3 {
  font-size: 12px; /* Уменьшаем размер текста */
  color: #333;
  text-align: center;
  margin: 5px 0;
}

.pagination {
  position: fixed; /* Закрепляем пагинацию */
  bottom: 87px; /* Располагаем её в нижней части экрана */
  left: 50%; /* Центрируем по горизонтали */
  transform: translateX(-50%); /* Центрируем относительно середины */
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  padding: 10px 20px; /* Добавляем внутренние отступы */
  border-radius: 8px; /* Скругляем углы */
  z-index: 100; /* Устанавливаем высокий z-index, чтобы пагинация была поверх содержимого */
}

.pagination-button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--color-border);
  color: var(--color-text-light);
  border: none;
  cursor: pointer;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease;
}

.pagination-button.active {
  background-color: var(--color-primary);
}

.pagination-button:hover {
  background-color: var(--color-hover);
}