@import './colors.css';

.header {
  position: fixed;
  background-color: var(--color-primary);
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 20px;
  z-index: 100;
}

.logo-left {
  height: 40px;
}

.header-nav {
  display: flex;
  gap: 20px;
}

.nav-button {
  color: var(--color-secondary);
  text-decoration: none;
  font-weight: bold;
  padding: 8px 16px;
  background: none;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
}

.nav-button:hover::after,
.nav-button.active::after {
  content: '';
  position: absolute;
  left: 16px;
  right: 16px;
  bottom: 4px;
  height: 2px;
  background: orange;
}