.app {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
  
  .content {
    flex: 1;
    padding: 80px 20px 70px; /* Отступы сверху и снизу */
    margin-top: 50px; /* Высота шапки */
    margin-bottom: 50px; /* Высота подвала */
    overflow-y: auto;
  }